<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "trainee/navbar.html" %}
    <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Hello, Student</h1>
    <p class="lead">Welcome to Online Exam System</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
               
      <!-- <a class="btn btn-primary btn-lg" href="/home" role="button">Home</a> &nbsp;&nbsp; -->
      <a class="btn btn-primary btn-lg" href="/traineesignup/traineesignup" role="button">Create Your Account</a>&nbsp;&nbsp;
      <a class="btn btn-primary btn-lg" href="/traineelogin/traineelogin" role="button">Login</a>&nbsp;&nbsp;
    </p>
    <br><br><br><br><br><br>
  </div>
</body>
</html>